.sidebar-content {
  &-toolbar {
    height: 48px !important;
    padding: 0 !important;
    position: relative;

    .material-icons {
      padding-left: 0 !important;

      $iconSize: 24px;
      height: $iconSize !important;
      line-height: $iconSize !important;
    }

    .right-button {
      padding-left: 0 !important;
      padding-right: 0 !important;
      width: 32px !important;


      .fa {
        font-size: 18px !important;
      }
    }

    .chip {
      display: inline-block !important;
      $chipHeight: 30px;
      height: $chipHeight !important;
      line-height: $chipHeight !important;
      margin-right: 8px !important;

      span {
        //padding: 6px 8px !important;
        font-size: 11px !important;
      }
    }
  }
}
