.employment-container {
    $mainFontColor: #1c0c4f;
    margin-top: 12px;
    color: $mainFontColor;

    input {
        color: $mainFontColor !important;
    }

    .employment {
        &:not(:first-child) {
            margin-top: 30px;
        }

        .left-pane {
            .time-separator {
                padding: 0 10px;
            }

            .year-separator {
                font-weight: bold;
                color: $mainFontColor !important;
                font-size: 20px
            }

            .divider {
                width: 120px;
                border: none;
                border-top: 1px solid #D5DADF;
                float: right;
                margin-top: 0;
            }

            .below-divider {
                width: 100% !important;

                & > input {
                    text-align: right;
                }

                &.company-name > input {
                    font-weight: bolder !important;
                    font-size: 14px !important;
                }

                &.position-name {
                    height: 30px !important;
                    
                    & > input {
                        font-size: 12px !important;
                    }
                }
            }
        }

        .right-pane {
            border-left: 1px solid #D5DADF;

            .title {
                font-size: 14px;
                font-weight: bold;
            }

            .job-descs {
                list-style: none;
                padding-left: 0;

                li {
                    position: relative;

                    .material-icons {
                        font-size: 15px !important;
                        color: #444444;
                        position: absolute !important;
                        top: 4px;
                    }
                    .job-descs-field {
                        padding-left: 20px;
                        height: 22px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}