.header {
  $headerHeight: 50px;
  height: $headerHeight;

  > button {
    margin-top: 0px !important;
  }

  // Fixing over height abstract container
  > div {
    height: $headerHeight !important;
    line-height: $headerHeight !important;
  }

  .appbar-profile {
    margin-top: 8px;

    img {
      $imgSize: 36px;

      border-radius: 50%;
      height: $imgSize;
      float: left;
    }

    &-text {
      margin-left: 50px;
      color: #ffffff;
      line-height: 14px;
      padding-top: 2px;

      &-username {
        font-size: 14px;
        display: block;
      }
      &-position {
        font-size: 12px;
      }
    }
  }
}
