.employee-list {
  $offset: -15px;
  margin-left: $offset;
  margin-right: $offset;
  position: relative;
  height: calc(100% - (50px + 48px));
  overflow-y: scroll;

  // List container
  > div {
    padding: 0 !important;

    // Content container
    > div > div {
      $listItemHeight: 80px;
      height: $listItemHeight;

      // Inside content container
      > span {
        height: $listItemHeight;

        // Wrapper
        > div > div {
          padding: 12px 56px 12px 90px !important;

          // Overriding primaryText
          > div {
            font-weight: bolder;
            font-size: 14px !important;
          }
        }
      }
    }
  }

  &-avatar {
    margin-top: -7px;
    margin-left: -5px;
  }

  &-secondary span {
    color: rgba(0, 0, 0, 0.870588) !important;
    font-size: 12px !important;
  }

  &-right {
    margin: 0 !important;
    height: auto !important;
    width: 70px !important;
    text-align: right;
    vertical-align: middle;
    top: inherit !important;
    right: 10px !important;

    span {
      font-size: 12px;
      font-weight: normal;
      display: block;
    }

    &-icons {
      margin-top: 5px;

      // The icon
      > span {
        margin-right: -5px;
        font-size: 29px !important;
      }
    }
  }

  &-float {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
