html, body {
  $defaultFontSize: 12px;
  font-size: $defaultFontSize;
  //overflow-y: hidden;

  // ELEMENTS
  input {
    //font-size: $defaultFontSize !important;
  }

  // BASE LAYOUT SETTING
  .core-layout__viewport {
    //padding-top: 4rem;
  }

  .sidebar-container {
    border-right: 1px solid #cccccc;
  }
}

.form-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  $footerHeight: 48px;
  height: $footerHeight;
  line-height: $footerHeight;
  padding-right: 5px;

  > div {
    background: none !important;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}

// HELPERS
.no-padding {
  padding: 0;
}
